<div class="customer-register">
  <div class="customer-register__top">
    <h1>Registro de Cliente</h1>
    <div class="customer-register__top--buttons">
      <button nz-button nzType="default" (click)="goToList()">SALIR</button>
      <button nz-button nzType="primary" class="ml-1" (click)="saveCustomer()">GUARDAR</button>
    </div>
  </div>
  <nz-card>
    <form [formGroup]="customerFormGroup">
      <div nz-row>
        <div nz-col [nzMd]="12">
          <nz-form-item>
            <nz-form-label style="text-align: left" [nzMd]="8">Nombre</nz-form-label>
            <nz-form-control >
              <input formControlName="nameCustomerFormControl"
                     type="text" nz-input>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzMd]="2"></div>
        <div nz-col [nzMd]="9">
          <nz-form-item>
            <nz-form-label style="text-align: left" [nzXs]="24" [nzMd]="10">Código</nz-form-label>
            <nz-form-control [nzMd]="14" [nzXs]="24">
              <input formControlName="codeCustomerFormControl"
                     type="text" nz-input>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzMd]="12">
          <nz-form-item >
            <nz-form-label style="text-align: left" [nzMd]="8">Apellido</nz-form-label>
            <nz-form-control [nzMd]="10">
              <input formControlName="lastNameCustomerFormControl"
                     type="text" nz-input>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzMd]="2"></div>
      </div>
      <div nz-row>
        <div nz-col [nzMd]="12">
          <nz-form-item >
            <nz-form-label style="text-align: left" [nzMd]="8">Tipo de Documento</nz-form-label>
            <nz-form-control [nzMd]="10">
              <nz-select formControlName="documentTypeCustomerFormControl">
                <nz-option nzValue="DNI" nzLabel="DNI"></nz-option>
                <nz-option nzValue="C.E" nzLabel="C.E"></nz-option>
                <nz-option nzValue="PASAPORTE" nzLabel="PASAPORTE"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzMd]="2"></div>
        <div nz-col [nzMd]="9">
          <nz-form-item >
            <nz-form-label style="text-align: left" [nzMd]="10">N° de Documento</nz-form-label>
            <nz-form-control [nzMd]="14">
              <input formControlName="documentNumberCustomerFormControl"
                     type="text" nz-input>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzMd]="12">
          <nz-form-item >
            <nz-form-label style="text-align: left" [nzMd]="8">Fecha de Nacimiento</nz-form-label>
            <nz-form-control [nzMd]="10">
              <nz-date-picker
                formControlName="birthdayCustomerFormControl"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzMd]="8">
          <nz-form-item >
            <nz-form-label style="text-align: left" [nzMd]="12">Departamento</nz-form-label>
            <nz-form-control [nzMd]="12">
              <nz-select formControlName="departmentCustomerFormControl">
                <nz-option nzValue="DNI" nzLabel="DNI"></nz-option>
                <nz-option nzValue="C.E" nzLabel="C.E"></nz-option>
                <nz-option nzValue="PASAPORTE" nzLabel="PASAPORTE"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzMd]="1"></div>
        <div nz-col [nzMd]="7">
          <nz-form-item >
            <nz-form-label style="text-align: left" [nzMd]="8">Provincia</nz-form-label>
            <nz-form-control [nzMd]="14">
              <nz-select formControlName="provinceCustomerFormControl">
                <nz-option nzValue="DNI" nzLabel="DNI"></nz-option>
                <nz-option nzValue="C.E" nzLabel="C.E"></nz-option>
                <nz-option nzValue="PASAPORTE" nzLabel="PASAPORTE"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col [nzMd]="1"></div>
        <div nz-col [nzMd]="7">
          <nz-form-item >
            <nz-form-label style="text-align: left" [nzMd]="8">Distrito</nz-form-label>
            <nz-form-control [nzMd]="14">
              <nz-select formControlName="districtCustomerFormControl">
                <nz-option nzValue="DNI" nzLabel="DNI"></nz-option>
                <nz-option nzValue="C.E" nzLabel="C.E"></nz-option>
                <nz-option nzValue="PASAPORTE" nzLabel="PASAPORTE"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzMd]="12">
          <nz-form-item >
            <nz-form-label style="text-align: left" [nzMd]="8">Dirección</nz-form-label>
            <nz-form-control>
              <input formControlName="addressCustomerFormControl"
                     type="text" nz-input>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzMd]="12">
          <nz-form-item >
            <nz-form-label style="text-align: left" [nzMd]="8">Telefono</nz-form-label>
            <nz-form-control [nzMd]="10">
              <input formControlName="telephoneCustomerFormControl"
                     type="text" nz-input>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div nz-row>
        <div nz-col [nzMd]="12">
          <nz-form-item >
            <nz-form-label style="text-align: left" [nzMd]="8">Correo</nz-form-label>
            <nz-form-control>
              <input formControlName="emailCustomerFormControl"
                     type="text" nz-input>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </form>
  </nz-card>
</div>
