<app-consult nz-row [title]="title">
  <ng-container Filters>
    <nz-card>
      <div nz-row>
        <div nz-col [nzMd]="14">
          <form [formGroup]="customerFormGroup">
            <nz-form-item>
              <nz-form-label style="text-align: left" [nzMd]="7">Nombre</nz-form-label>
              <nz-form-control>
                <input formControlName="nameFormControl"
                       (keyup.enter)="searchCustomer($event, 'name')"
                       (ngModelChange)="getNameInput($event)" type="text" nz-input>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label style="text-align: left" [nzMd]="7">N° de Documento</nz-form-label>
              <nz-form-control>
                <input formControlName="nroDocFormControl"
                       (keyup.enter)="searchCustomer($event, 'nroDoc')"
                       (ngModelChange)="getNroDocInput($event)" type="text" nz-input>
              </nz-form-control>
            </nz-form-item>
          </form>
        </div>
        <div nz-col [nzMd]="6">
          <div nz-row [nzType]="'flex'" [nzJustify]="'center'" [nzAlign]="'middle'"
               style="height: 100%;margin-top: -15px">
            <button nz-button nzType="primary">Filtrar</button>
            <button nz-button nzType="primary" class="ml-1">Limpiar</button>
          </div>
        </div>
      </div>
    </nz-card>
  </ng-container>
  <ng-container Buttons>
    <div nz-row class="mt-1 mb-1" [nzType]="'flex'" [nzJustify]="'end'">
      <a nz-button routerLink="crear" nzType="primary" class="ml-1">Nuevo</a>
    </div>
  </ng-container>
  <ng-container Content>
    <nz-table #basicTable [nzData]="customers" [nzFrontPagination]="false">
      <thead>
      <tr>
        <th>Código de Cliente</th>
        <th>Nombres</th>
        <th>Dni</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <!--<tr *ngFor="let seller of basicTable.data">
        <td>{{ seller.idSeller }}</td>
        <td>{{ seller.nameSeller }}</td>
        <td>{{ seller.documentSeller }}</td>
        <td>
          <a (click)="goToEdit(seller.idSeller)">Editar</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td>
      </tr>-->
      </tbody>
    </nz-table>
  </ng-container>
</app-consult>
